<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo list</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div id="glass" class="p-3">
            <ul>
                <div v-for="(todo, i) in toDoList" id="list" class="d-flex align-items-center m-2">
                    <button id="check" @click="checkTodo(i)"><i class="fa-solid text-white" :class="{'fa-check': todo.done, '': !todo.done}"></i></button>
                    <li :style="{'text-decoration': todo.done ? 'line-through' : 'none'}" class="mx-2 cursor-pointer" @click="checkTodo(i)">{{todo.text}}</li>
                    <button id="trash" class="opacity-0" @click="removeTodo(i)"><i class="fa-solid fa-trash-alt text-white"></i></button>
                </div>
            </ul>
            <div class="d-flex align-items-center">
                <input type="text" v-model="text" @keyup.enter="addTodo(text)">
                <button id="add" class="ms-2" @click="addTodo(text)"><i class="fa-solid fa-plus text-white"></i></button>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="js/main.js"></script>
</body>
</html>

